.term-names-wrapper {
  padding: 3px;
  border: 1px solid #BEC7CF;
  width: 473px;
  float: left;
}

#entered-term-names-wrapper {
  float: left;
}

.term-names-input {
  display: inline;
  border: none;
  float:left;
}

.entered-term-name {
  margin-right: 3px;
  display: block;
  float: left;
  padding: 2px 4px;
  background-color: #DCE1E5;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 1px #E9E9E9;
  color: #666666;
  font-family: "Lucida Grande",arial,sans-serif;
  line-height: 1.5em;
  padding: 0 3px 0 5px;
  text-shadow: 0 1px 1px #FFFFFF;
}

.entered-term-name a {
  padding: 0 2px;
  color: #999999;
  cursor: pointer;
  font-family: "Helvetica",helvetica,arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 1px 0 0 7px;
  padding: 0 2px 0 0;
  text-shadow: 0 1px 1px #FFFFFF;
}

.term-names-dropdown-item {
  width: 476px;
}

.term-id {
  display: none;
}

.dropdown-term-names {
  display: none;
  width: 476px;
  padding-left: 3px;
  border: 1px solid grey;
}

.vocab-id {
  display: none;
}

.autocomplete-dropbox-field-wrapper .form-item .form-text {
  display: none;
}

.term-names-wrapper .description {
  display: none;
}

.terms-count {
  width: 50px;
  float: right;
  font-weight: normal;
}
.autocomplete-dropbox-label {
  width: 500px;
  font-weight: bold;
}
